td {
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 2px solid blue;
}

tr{
    white-space: nowrap;
}

table {
    display: block;
    max-width: 450px;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: auto;
}

.gamePage {
    background: #cccccc url("../../Images/sea2.jpg");
    /*background-size: contain;*/
    background-size: 100%;
    font-weight: bold;
    font-style: italic;
}

.gameBoard{
    background: #cccccc url("../../Images/panel3.jpg");
}

button{
    color: #31b0d5;
    font-style: italic;
}

h3{
    color: #2b542c;
}

.label{
    color: deeppink;
    font-style: italic;
    font-size: 1.05em;
}
.mine{
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    border: 2px solid blue;
    background: #cccccc url("../../Images/bluetnt2.png");
}
span{
    width: 60px;
    height: 60px;
}
.shipHit{
    background: #cccccc url("../../Images/fireball.jpg");
    border-radius: 25px;
}
.shipMissed{
    background: #cccccc url("../../Images/missedTarget.png");
}
.shipCell{
    background-image: url("../../Images/ship.png");
}
.buttonMargin{
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
}

.chooseCell{
    background-color: red;
    color: white;
}

.gameInfo{
    color: deeppink;
    font-style: italic;
    font-size: 1.05em;
}

.gameNotStart{
    background-color: yellow;
}

#playersNames{
    color: #c0a16b;
    font-style: italic;
    font-size: 1.05em;
}

#viewersNames{
    color: #c0a16b;
    font-style: italic;
    font-size: 1.05em;
}
h4{
    color: #d58512;
    font-style: italic;
    /*font-size: 1.05em;*/
}

h2{
    color: red;
}

#replayMassage{
    color: red;
    font-size: 1.1em;
}
#myTurnMassage{
    color: red;
    font-size: 1.1em;
}

#replayError{
    color: red;
    font-size: 1.5em;
}

#chatWindow{
    height:200px;width:200px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;
}