.special{
    color: yellow;
}
.margin{
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.rowMargin{
    margin-right: 0.5cm;
    margin-left: 0.5cm;
}

.full{
    color: red;
}

.full.special{
    color: red;
background-color: yellow;
}

button{
    color: deeppink;
    font-style: italic;
}

.buttonMargin{
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
}

h3{
    cursor: pointer;
}

.gamePage {
    background: #cccccc url("../../Images/sea2.jpg");
    background-size: contain;
    font-weight: bold;
    font-style: italic;
}

#boardsList{
    color: green;
}

#playersList{
    color: yellow;
}

h6{
    font-size: 1.5em;
    color: red;
}
