<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoardsListServlet</servlet-name>
        <servlet-class>servlets.BoardsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoardUploadServlet</servlet-name>
        <servlet-class>servlets.BoardUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoardDeleteServlet</servlet-name>
        <servlet-class>servlets.BoardDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerRegisterServlet</servlet-name>
        <servlet-class>servlets.PlayerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>servlets.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameUpdateServlet</servlet-name>
        <servlet-class>servlets.PlayerUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewerRegisterServlet</servlet-name>
        <servlet-class>servlets.ViewerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewerUpdateServlet</servlet-name>
        <servlet-class>servlets.ViewerUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBoardServlet</servlet-name>
        <servlet-class>servlets.SaveBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatSenderServlet</servlet-name>
        <servlet-class>servlets.ChatSenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatUpdateServlet</servlet-name>
        <servlet-class>servlets.ChatUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoardDeleteServlet</servlet-name>
        <url-pattern>/boardDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/login/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/playersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoardsListServlet</servlet-name>
        <url-pattern>/boardsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoardUploadServlet</servlet-name>
        <url-pattern>/boardUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerRegisterServlet</servlet-name>
        <url-pattern>/playerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/gameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameUpdateServlet</servlet-name>
        <url-pattern>/gameUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/userDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewerRegisterServlet</servlet-name>
        <url-pattern>/viewerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewerUpdateServlet</servlet-name>
        <url-pattern>/viewerUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBoardServlet</servlet-name>
        <url-pattern>/saveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatSenderServlet</servlet-name>
        <url-pattern>/pages/game/sendChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatUpdateServlet</servlet-name>
        <url-pattern>/chatUpdateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>