td {
    /*width: 32px;*/
    /*height: 32px;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*border: 2px solid blue;*/
}
.gamePage {
    background: #cccccc url("../../Images/sea2.jpg");
    font-weight: bold;
    font-style: italic;
}
.gameBoard{
    background: #cccccc url("../../Images/panel3.jpg");
}
.button{
    text-fill: deeppink;
    background-radius: 100%;

}
button{
    text-fill: deeppink;
    background-radius: 100%;

}
.label{
    text-fill: deeppink;
    border-radius: 100%;
    font-style: italic;
}
.mine{
    background: #cccccc url("../../Images/bluetnt2.png");
}
.shipHit{
    background: #cccccc url("../../Images/fireball.jpg");
    border-radius: 25px;
}
.shipMissed{
    background: #cccccc url("../../Images/missedTarget.png");
}
.shipCell{
    background-image: url("../../Images/ship.png");
}